$primary: #0A66C2;
$primary-light: #DBEAF3;
$secondary: #002B55BD;
$warning: #F5C961;
$success: #108F0E;
$success-light: #0EAD0B26;
$warning-light: #FFF9EC;
$danger: #D12323;
$danger-light: #E73B3B26;
$black: #000;
$white: #fff;
$text: #3E3E3E;
$grey: #F5F5F5;
$light-grey: #E1E1E1;
$shadow: 4px 4px 25px 0px #00000026;
$border: #D6D6D6;